<section class="featured section">
  <div class="container featured__container">
    <h2 class="featured__title">Featured Collection</h2>
  </div>
  <div class="featured__wrapper">
    <div class="swiper featured__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="featured__card">
            <a href="#" class="featured__card-image">
              <picture>
                <source
                  media="(min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                  srcset="/img/featured/image01@2x.webp"
                />
                <img src="/img/featured/image01.webp" alt="Nike Streakfly 2" />
              </picture>
            </a>
            <a href="#" class="featured__card-title">Nike Streakfly 2</a>
            <span class="featured__card-price">$300.00</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="featured__card">
            <a href="#" class="featured__card-image">
              <picture>
                <source
                  media="(min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                  srcset="/img/featured/image02@2x.webp"
                />
                <img
                  src="/img/featured/image02.webp"
                  alt="Nike Pegasus Premium"
                />
              </picture>
            </a>
            <a href="#" class="featured__card-title">Nike Pegasus Premium</a>
            <span class="featured__card-price">$350.00</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="featured__card">
            <a href="#" class="featured__card-image">
              <picture>
                <source
                  media="(min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                  srcset="/img/featured/image03@2x.webp"
                />
                <img src="/img/featured/image03.webp" alt="Nike Pegasus 41" />
              </picture>
            </a>
            <a href="#" class="featured__card-title">Nike Pegasus 41</a>
            <span class="featured__card-price">$280.00</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="featured__card">
            <a href="#" class="featured__card-image">
              <picture>
                <source
                  media="(min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                  srcset="/img/featured/image04@2x.webp"
                />
                <img src="/img/featured/image04.webp" alt="Nike Revolution 7" />
              </picture>
            </a>
            <a href="#" class="featured__card-title">Nike Revolution 7</a>
            <span class="featured__card-price">$440.00</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="featured__card">
            <a href="#" class="featured__card-image">
              <picture>
                <source
                  media="(min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                  srcset="/img/featured/image01@2x.webp"
                />
                <img src="/img/featured/image01.webp" alt="Nike Streakfly 2" />
              </picture>
            </a>
            <a href="#" class="featured__card-title">Nike Streakfly 2</a>
            <span class="featured__card-price">$300.00</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="featured__card">
            <a href="#" class="featured__card-image">
              <picture>
                <source
                  media="(min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                  srcset="/img/featured/image02@2x.webp"
                />
                <img
                  src="/img/featured/image02.webp"
                  alt="Nike Pegasus Premium"
                />
              </picture>
            </a>
            <a href="#" class="featured__card-title">Nike Pegasus Premium</a>
            <span class="featured__card-price">$350.00</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="featured__card">
            <a href="#" class="featured__card-image">
              <picture>
                <source
                  media="(min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                  srcset="/img/featured/image03@2x.webp"
                />
                <img src="/img/featured/image03.webp" alt="Nike Pegasus 41" />
              </picture>
            </a>
            <a href="#" class="featured__card-title">Nike Pegasus 41</a>
            <span class="featured__card-price">$280.00</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="featured__card">
            <a href="#" class="featured__card-image">
              <picture>
                <source
                  media="(min-device-pixel-ratio: 2), (min-resolution: 192dpi)"
                  srcset="/img/featured/image04@2x.webp"
                />
                <img src="/img/featured/image04.webp" alt="Nike Revolution 7" />
              </picture>
            </a>
            <a href="#" class="featured__card-title">Nike Revolution 7</a>
            <span class="featured__card-price">$440.00</span>
          </div>
        </div>
      </div>
    </div>
    <button
      class="featured__nav featured__nav--prev"
      type="button"
      aria-label="Previous slide"
    >
      <svg width="24" height="24">
        <use href="/svg/sprite.svg#icon-arrow-left"></use>
      </svg>
    </button>
    <button
      class="featured__nav featured__nav--next"
      type="button"
      aria-label="Next slide"
    >
      <svg width="24" height="24">
        <use href="/svg/sprite.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </div>
</section>
